auth:
  enablePostgresUser: true
  postgresPassword: postgresadmin  # Password for postgres superuser (no special chars)
  username: airflow
  password: airflow
  database: airflow

primary:
  ressources:
    requests:
      cpu: "250m"
      memory: "512Mi"
    limits:
      cpu: "1"
      memory: "2Gi"
  persistence:
    enabled: true
    size: 5Gi
