auth:
  enablePostgresUser: true
  postgresPassword: postgresadmin  # Password for postgres superuser (no special chars)
  username: airflow
  password: airflow
  database: airflow

primary:
  persistence:
    enabled: true
    size: 5Gi
